<body>
    <i class="fa-solid fa-plus"></i>
    <i class="fa-solid fa-minus"></i>
    <div class="container">
        <h1 style="text-align: center;">Rs Shop</h1>

        <div class="card"> </div>
            <div class="card-img">
                <img src="assets/images/meat.pnj.avif" alt="" class="img">


            </div>
            <div class="card-title">
                <h3>Meat </h3>
                <h3>Bangladeshi</h3>
                <h3 class="price">Price PK : 800 BDT</h3>
                <i class="icon"><mat-icon>add</mat-icon></i>
                <input class="input" type="button" value="0">
                <i class="icon"><mat-icon>remove</mat-icon></i>
                <span class="item">Your item $ 00 </span>
            </div>
       
        <div class="clear">
            <hr class="hr-style">
            <div class="card"></div>
            <div class="card-img">
                <img src="assets/images/meat.pnj.avif" alt="" class="img">


            </div>
            <div class="card-title">
                <h3>Meat </h3>
                <h3>Bangladeshi</h3>
                <h3 class="price">Price PK : 800 BDT</h3>
                <i class="icon"><mat-icon>add</mat-icon></i>
                <input class="input" type="button" value="0">
                <i class="icon"><mat-icon>remove</mat-icon></i>
                <span class="item">Your item $ 00 </span>
            </div>


        </div>


    </div>
    <div class="fixed">
        <h1 class=" total">The Total amount of</h1>
    </div>

</body>