

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Here</h3>

        <label for="username">Username :</label>
        <input type="text" placeholder="Email or Phone" id="username">
        
        <label for="type">Choose User Type:</label>
        <select name="type" id="type">
            <option value="Admin">Admin</option>
            <option value="Seller">Selles Man</option>
            <option value="Manager">Maneger</option>
        </select>

        <label for="password">Password :</label>
        <input type="password" placeholder="Password" id="password">

        <button routerLink="/home" class="log">Log In</button>
    </form>
    </body>
